<p *ngIf="!data">No data</p>

<div *ngIf="data">
    <div>{{startDate | date}} - {{endDate | date}}</div>
    <div class="row" *ngFor="let d of data">
        <div>{{d.id}}</div>
        <div>{{d.name}}</div>
        <div>${{getTotalWages(d) | number: '1.2-2'}}</div>
    </div>
</div>